.nav-bg-container {
  background-color: #2c0e3a;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}
.match-game-logo {
  width: 220px;
  height: 60px;
  margin-left: 20px;
}
.score {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 10px;
}
.right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  width: 20vw;
}
.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.logo {
  width: 30px;
  height: 30px;
}
